.top {
    width: 100vw; 
    padding-top: 25vh; 
    height: 100%;
    color: rgb(184, 213, 230);
    font-size: 5em;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
}

html {
    height: 100%;
    background-color: #33658A;
}

a:link {
    color: #F6B540;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #FDF0D8;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #FAD28C;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #F8C466;
    background-color: transparent;
    text-decoration: underline;
}